---
import Divider from "~/components/bases/divider.astro";
import { categoriesHandler } from "~/lib/handlers/categories";
import type { WPCategory } from "~/lib/types";
import type { WPArticle } from "~/lib/types";
import { getDateDistance } from "~/lib/utils/date";

type Props = {
  article: WPArticle;
};

const { article } = Astro.props;

const category: WPCategory = await categoriesHandler.oneCategory(
  article.category
);
---

<article class="group">
  <a
    href={`/articles/${article.slug}`}
    class="flex flex-col-reverse md:flex-col gap-4"
  >
    <div class="aspect-video overflow-hidden rounded-md">
      <img src={article.image} loading={"eager"} />
    </div>
    <div class="flex flex-col gap-2">
      <div>
        <h2
          class="text-xl font-semibold lg:group-hover:underline underline-offset-2"
        >
          {article.title}
        </h2>
        <p class="text-base-content/90 text-base max-w-lg line-clamp-2">
          {article.description}
        </p>
      </div>
      <div class="flex items-center text-xs text-base-content/80 mt-2">
        <span class="text-primary">{category.name}</span>
        <Divider />
        <!-- <span>{getDateDistance(article.publishedDate.toString())}</span> -->
      </div>
    </div>
  </a>
</article>
