---
import Divider from "~/components/bases/divider.astro";
import { categoriesHandler } from "~/lib/handlers/categories";
import type { WPArticle } from "~/lib/types";

type Props = {
  article: WPArticle;
  isFirst?: boolean;
  isLast?: boolean;
};

const { article, isLast = false, isFirst = false } = Astro.props;

// Aseguramos que article.category sea válido antes de buscar la categoría
const category = article.category ? await categoriesHandler.oneCategory(article.category) : { name: "Sin categoría" };
---

<article class={`group py-2 ${isFirst ? "pt-0" : "pt-2"} ${isLast ? "border-b-0 pb-0" : "border-b"}`}>
  <a href={`/articles/${article.slug}`} class="flex items-stretch gap-2 group">
    <div class="flex flex-col flex-1">
      <div class="flex items-center gap-2 mb-1">
        <div class="flex-1">
          <h2 class="text-base lg:group-hover:underline">{article.title}</h2>
          <p class="text-sm text-base-content/80 text-balance md:line-clamp-2 lg:line-clamp-3">
            {article.description}
          </p>
        </div>
      </div>
      <div class="flex items-center text-xs text-base-content/80 mt-1 lg:mt-auto">
        <span class="text-primary">{category.name}</span>
        <Divider />
      </div>
    </div>

    <div class="overflow-hidden w-[165px] h-[125px] shrink-0">
      <img
        src={article.image} 
        alt={article.title}
        class="object-cover rounded w-full h-full"
        width={165}
        height={125}
      />
    </div>
  </a>
</article>
